[submodule "automated-theorem-proving"]
	path = automated-theorem-proving
	url = https://github.com/sushmaakoju/automated-theorem-proving
[submodule "first-order-logic"]
	path = first-order-logic
	url = https://github.com/sushmaakoju/first-order-logic
[submodule "natural-language-inference"]
	path = natural-language-inference
	url = https://github.com/sushmaakoju/natural-language-inference
[submodule ".\\automated-theorem-proving\\"]
	url = https://github.com/sushmaakoju/automated-theorem-proving.git
