[submodule "automated-theorem-proving"]
	path = automated-theorem-proving
	url = https://github.com/sushmaakoju/automated-theorem-proving
[submodule "first-order-logic"]
	path = first-order-logic
	url = https://github.com/sushmaakoju/first-order-logic
